.chatContainer {
  width: 90vw;
  height: 80vh;
  max-width: 500px;
  max-height: 600px;
  min-width: 280px;
  min-height: 350px;

  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Merriweather', serif; /* puedes cambiar por otra */
  font-style: italic; /* cursiva */
  font-size: 30px;
  color: #fcfcfc;
  margin-bottom: 8px;
}

.subtitle {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 400;
  color: #f5f2f2;
  margin-bottom: 20px;
}


/* --- MEDIA QUERIES --- */ 

/* Pantallas pequeñas (móviles) */ 

@media (max-width: 480px) { 
  .chat-container { 
    width: 95vw; 
    height: 85vh;
    padding: 12px; 
  } 
  
  .message-bubble { 
    font-size: 12px; 
    padding: 8px; 
  } 
  
  .send-button { 
    padding: 6px 10px; 
    font-size: 12px; 
  } 
}

/* Pantallas medianas (tablets) */ 

@media (min-width: 481px) and (max-width: 768px) { 
  .chat-container { 
    width: 90vw;
    height: 80vh;
    } 
  }
